<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading && userlms.admin.isActive" class="container">
  <hr>
  <h2 class="text-center"><i class="fas fa-book"></i> Catalogo de cursos</h2>
  <div class="form-group">
    <div class="row">
      <div class="col-10">
        <input type="text" class="form-control" #wordcode placeholder="curso que busco" (blur)="findCourse(wordcode.value)">
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-outline-success">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!loading && !isFindOk && !messageNotFound" class="container animated fast fadeIn">
    <div class="card-columns">
      <div *ngFor="let crs of datacourses, let id=index" class="card">
        <img class="card-img-top" [src]="crs.image" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{crs.title}}</h5>
          <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <span class="text-success text-center"><i class="fas fa-search-plus"></i> Ver mas</span>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row">
                  <h6>Imparte <small>CONALEP</small></h6>
                </div>
                <div class="row">
                  <h6>Categorías <small>{{crs.categories}}</small></h6>
                </div>
                <div class="row">
                  <h6>CLAVE <small>{{crs.code}}</small></h6>
                </div>
                <button type="button" class="btn btn-success blockquote" (click)="verCurso(crs.id)">
                  <i class="far fa-arrow-alt-circle-right"></i> Ir al curso
                </button>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!loading && isFindOk" class="container animated fast fadeIn">
    <div *ngFor="let item of coursesearch" class="row">
      <div class="col-md-4">
        <hr>
        <img [src]="item.image" class="imagenesCurso img-fluid">
      </div>
      <div class="col-md-8">
        <hr>
        <h3>{{item.title}}</h3>
        <div [innerHTML]="item.description">
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <h6>Imparte <small>CONALEP</small></h6>
          </div>
          <div class="col">
            <h6>Categorías <small>{{item.categories}}</small></h6>
          </div>
          <div class="col">
            <h6>CLAVE <small>{{item.code}}</small></h6>
          </div>
          <div class="col">
            <h6>Grupo <small>Grupo</small> </h6>
          </div>
        </div>
        <button (click)="verCurso(item.id)" type="button" class="btn btn-success">
          Ir al curso
          <i class="far fa-arrow-alt-circle-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!loading && !isFindOk && messageNotFound!=null" class="container animated fast fadeIn">
    <div class="alert alert-warning text-center" role="alert">
      <h1><i class="fas fa-frown-open"></i> {{messageNotFound}}</h1>
    </div>
  </div>
</div>
<div *ngIf="!loading && !userlms.admin.isActive" class="container">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand">
      <img src="/assets/img/superatemexico.jpg" width="100">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="alert alert-warning" role="alert">
    <h4 class="text-justify">
      <p class="text-center"><i class="fas fa-info"></i> Aviso importante:</p>
      <p class="text-center">Es necesario que validemos tus datos para que puedas seguir usando la plataforma, te recomendamos revises bien la información que en seguida te mostramos, ya que seran usados como datos en la expedición de documentos de índole oficial</p>
    </h4>
  </div>
  <div *ngIf="messageSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{messageSuccess}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="messageError" class="alert alert-danger alert-dismissible fade show" role="alert">
    Se generó el siguiente error en el sistema: <strong>{{messageError}}</strong> ,favor de reportarlo en la mesa de ayuda
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card">
    <div class="card-body">
      <h3>Datos personales</h3>
      <form>
        <label class="form-inline"><b>*Nombre : </b></label>
        <input type="text" class="form-control" value={{userlms.person.name}} #namecheck required>
        <br>
        <label class="form-inline"><b>*Apellido Paterno : </b></label>
        <input type="text" class="form-control" value={{userlms.person.fatherName}} #fname required>
        <br>
        <label class="form-inline"><b>*Apellido Materno : </b></label>
        <input type="text" class="form-control" value={{userlms.person.motherName}} #mname required>
        <br>
      </form>
      <hr>
      <!--div *ngIf="userlms.student!=null">
        <h3>Datos académicos</h3>
        <form>
          <label class="form-inline"><b>Carrera : </b></label>
          <input type="text" class="form-control" value="{{userlms.student.career}}" #career required>
          <br>
          <label class="form-inline"><b>Semestre : </b></label>
          <input type="text" class="form-control" value="{{userlms.student.term}}" #term required>
          <br>
        </form>
        <hr>
      </div-->
      <form class="was-validated">
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="validacion1" (change)="getData($event, namecheck.value, fname.value, mname.value)" required>
          <label class="custom-control-label" for="validacion1"><b>Mis datos son correctos</b></label>
          <br>
          <span *ngIf="!isDataOk" class="text-danger">Datos no validados por el usuario</span>
        </div>
      </form>
      <hr>
      <form>
        <div class="form-group">
          <button type="button" class="btn btn-success blockquote" (click)="sendData()" [disabled]=!isDataOk ><i class="fas fa-check"></i> Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--div *ngIf="roles == null && !loading && userlms.admin.isDataVerified" class="container">
  <hr>
  <div class="jumbotron animated fadeIn fast">
    <p>
      Te damos la bienvenida a la plataforma <b>Conalep Virtual</b> donde podrás encontrar los cursos que enriquezcan tu aprendizaje
    </p>
    <p>
      Aún no tienes cursos enrolados. Te invitamos a que ingreses al catálogo de cursos: <b><i class="fas fa-book"></i> Cursos </b> ubicado en la parte superior. Desde ahí podras buscar y seleccionar el curso de tu interés
    </p>
    <p>
      Cuando estes enrolado en algún curso, te aparecera el menú de <b><i class="fas fa-graduation-cap"></i> Mis Cursos</b>, desde donde tendrás acceso al material de cada curso.
    </p>
    <p>
      Es un placer de que seas parte de <b>Conalep Virtual</b>
    </p>
  </div>
</div-->
