<div class="container-fluid">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">

      <div class="alert alert-warning" role="alert">
        <h5><i class="fas fa-exclamation-triangle"></i> El correo electrónico que ingreses, debe ser el mismo correo con el que estas registrado en la plataforma.</h5>
      </div>

      <div *ngIf="messageSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><i class="fas fa-exclamation-circle"></i> {{messageSuccess}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div *ngIf="messageError" class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fas fa-exclamation-triangle"></i> Se generó el siguiente error en el sistema: <strong>{{messageError}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="card">
        <div class="card-body">
          <h3>Recuperación de contraseña</h3>
          <form class="was-validated">
            <label class="form-inline"><b>*Ingresa tu correo electrónico : </b></label>
            <input type="text" class="form-control"  #username (blur)="getusername(username.value)"required>
            <span *ngIf="!dataIsOk" class="text-danger">Debes ingresar tu correo electrónico</span>
          </form>
          <hr>
          <div class="form-group">
            <button *ngIf="!dataIsOk" type="button" class="btn btn-success" disabled><i class="far fa-window-restore"></i> Recuperar contraseña</button>
            <button *ngIf="dataIsOk" type="button" class="btn btn-success" (click)="getPassword(username.value)"><i class="far fa-window-restore"></i> Recuperar contraseña</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
    </div>

  </div>
</div>
