<div *ngIf="loading">
  <div class="row text-center animated fadeIn">
    <div class="col ">
      <i class="fas fa-sync fa-spin fa-5x"></i>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h1>Cargando componentes ... </h1>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="container">
  <div class="row">
    <div class="col-4">
      <h1 class="display-1"><i class="fas fa-user-circle"></i></h1>
      <h5>Datos personales</h5>
      <h5>Nombre completo: <span class="text-success">{{user.person.name}} {{user.person.fatherName}} {{user.person.motherName}}</span></h5>
      <hr>
      <div *ngIf="user.student"  class="text-justify">
        <h5 *ngIf="user.student.career">Carrera:  <span class="text-success">{{user.student.career}}</span></h5>
        <h5 *ngIf="user.student.term">Semestre: <span class="text-success">{{user.student.term}}</span></h5>
      </div>
    </div>
    <div class="col-8">
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle><div class="text-success"><i class="fas fa-book"></i> Mis cursos</div></ng-template>
          <ng-template ngbTabContent>
            <div *ngFor="let item of cursos">
              <h4>Curso: <small class="text-success">{{item.name}}</small></h4>
              <h6 class="text-success">Mi avance en este curso</h6>
              <ngb-progressbar showValue="true" type="success" value="{{item.track|number:'.0-0'}}"></ngb-progressbar>
              <br>
              <button type="button" class="btn btn-success blockquote" (click)="getMycourse(item.course, item.groupid, item.courseid, item.lastSeenBlock, item.firstBlock)"><i class="far fa-arrow-alt-circle-right"></i> Ir al curso</button>
              <hr>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <div class="text-success"><i class="fas fa-bell"></i> Notificaciones</div>
          </ng-template>
          <ng-template ngbTabContent >
            <div *ngIf="notification.length != 0">
              <div *ngFor="let item of notification" class="row" style="margin-top:10px">
                <div class="col-12">
                  <!--div *ngIf="item.object.item.blockExists"-->
                  <button [ngClass]="{ 'btn-outline-secondary' : item.read , 'btn-outline-success' : !item.read}" type="button" class="btn btn-outline-secondary float-right" placement="bottom" ngbTooltip="ver" (click)="getviewnotification(item.objects, item.sourceRole, item.notificationid, item.destination.item._id)" ><!-- (click)="getviewnotificationblock(item.object.item.block, item.object.item._id, item.object.item.type)"-->
                    <i class="fas fa-eye"></i>
                  </button>
                  <h6 class="text-success"> <i [ngClass]="{ 'fa-chalkboard-teacher' : item.sourceRole == 'instructor' , 'fa-user-circle' : item.sourceRole == 'user'}" class="fas "></i> {{item.destination.item.person.name}} {{item.destination.item.person.fatherName}} {{item.destination.item.person.motherName}} :</h6>
                  <p class="font-italic">{{item.message}}</p>
                  <div class="row">
                    <div class="col-5">
                      <span class="text-success" style="font-size:15px;"><i class="far fa-clock"></i> {{item.dateAgo}}</span>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
            <div *ngIf="notification.length == 0">
              <hr>
              <div class="alert alert-success" role="alert">
                <h6><i class="fas fa-exclamation-circle"></i> No tienes notificaciones</h6>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><div class="text-success"><i class="fas fa-user-edit"></i> Actualizar mis datos</div></ng-template>
          <ng-template ngbTabContent>
            <form class="was-validated">
              <hr>
              <h5><i class="fas fa-retweet"></i> Cambio de contraseña</h5>
              <label for="">Ingrese una nueva contraseña</label>
              <input type="password" class="form-control" #newpassword (blur)="validatenewpassword(newpassword.value)">
              <br>
              <button type="button" class="btn btn-success blockquote" [disabled]="!newpasswordOk" (click)="changePassword(newpassword.value)">
                <i class="fas fa-retweet"></i> Cambiar contraseña
              </button>
              <div *ngIf="messaggeSuccess" class="alert alert-success" role="alert">
                <b><i class="fas fa-exclamation-circle"></i> {{messaggeSuccess}}</b>
              </div>
              <div *ngIf="messaggeError" class="alert alert-danger" role="alert">
                <b><i class="fas fa-exclamation-circle"></i> {{messaggeError}}</b>
              </div>
            </form>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
