<div *ngIf="loading">
  <div class="row text-center animated fadeIn">
    <div class="col ">
      <i class="fas fa-sync fa-spin fa-5x"></i>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h1>Cargando componentes ... </h1>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="container">
  <button type="button" class="btn btn-success blockquote" [routerLink]="['/userprofile']">
    <i class="fas fa-exchange-alt"></i> Regresar
  </button>
  <!--div *ngIf="type == 'root'"-->
    <div *ngFor="let itemDiscussion of discussions; let idDC = index">
      <div *ngIf="itemDiscussion.discussionId == itemid">
        <span class="text-success">
          <h2><i class="fas fa-quote-left"></i> {{itemDiscussion.title}}</h2>
        </span>
        <small><i class="fas fa-user-circle"></i> {{itemDiscussion.user}}  <i class="far fa-clock"></i> {{itemDiscussion.when}}</small>
        <span class="text-muted">
          <h3>{{itemDiscussion.text}}</h3>
        </span>
        <div *ngFor="let itemComment of comments" class="text-success font-italic">
          <div *ngIf="itemDiscussion.discussionId == itemComment.root" class="col-10 text-left">
            <hr>
            <span class="text-success">
              <h4><i class="far fa-comments"></i> <small>{{itemComment.text}}</small></h4>
              <small><i class="fas fa-user-circle"></i> {{itemComment.user}}  <i class="far fa-clock"></i> {{itemComment.when}}</small>
              <br>
            </span>
            <div *ngFor="let itemReply of replys" class="text-secondary font-weight-light">
              <div *ngIf="itemComment.discussionId == itemReply.replyto && itemReply.root == itemid" class="col-7 text-right">
                <span>
                  <h5><i><i class="far fa-comment"></i><small>{{itemReply.text}}</small></i></h5>
                  <small><i class="fas fa-user-circle"></i> {{itemReply.user}}  <i class="far fa-clock"></i> {{itemReply.when}}</small>
                </span>
              </div>
            </div>
            <div class="input-group mb-3" style="margin-top:1%;">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="setReply(replyComment.value, itemComment.discussionId, itemComment.root, itemComment.userId, itemComment.text)"><i class="far fa-comment"></i> Responder</button>
              </div>
              <input type="text" placeholder="Agrega una respuesta a este comentario" #replyComment class="form-control">
            </div>
          </div>
        </div>
        <div class="input-group mb-3" style="margin-top:1%;">
          <div class="input-group-append">
            <button class="btn btn-success" type="button" (click)="setComment(commentDoubt.value, itemDiscussion.discussionId, itemDiscussion.discussionId, itemDiscussion.userId, itemDiscussion.title)"><i class="far fa-comments"></i>  Enviar</button>
          </div>
          <input type="text" placeholder="Envía tu comentario sobre esta duda" #commentDoubt class="form-control">
        </div>
      </div>
    </div>
    <div *ngFor="let itemComment of comments" class="text-success font-italic">
      <div *ngIf="itemComment.discussionId == itemid"class="">
        <span class="text-success">
          <h4><i class="far fa-comments"></i> <small>{{itemComment.text}}</small></h4>
          <small><i class="fas fa-user-circle"></i> {{itemComment.user}}  <i class="far fa-clock"></i> {{itemComment.when}}</small>
          <br>
        </span>
        <div *ngFor="let itemReply of replys" class="text-secondary font-weight-light">
          <div *ngIf="itemComment.discussionId == itemReply.replyto" class="col-7 text-right">
            <span>
              <h5><i><i class="far fa-comment"></i><small>{{itemReply.text}}</small></i></h5>
              <small><i class="fas fa-user-circle"></i> {{itemReply.user}}  <i class="far fa-clock"></i> {{itemReply.when}}</small>
            </span>
          </div>
        </div>
        <div class="input-group mb-3" style="margin-top:1%;">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button" (click)="setReply(replyComment.value, itemComment.discussionId, itemComment.root, itemComment.userId, itemComment.text)"><i class="far fa-comment"></i> Responder</button>
          </div>
          <input type="text" placeholder="Agrega una respuesta a este comentario" #replyComment class="form-control">
        </div>
      </div>
    </div>
  <!--/div-->
  <!--div *ngIf="type == 'comment'">
    <div *ngFor="let itemComment of comments" class="text-success font-italic">
      <div *ngIf="itemComment.discussionId == itemid" class="text-left">
        <span class="text-success">
          <h3><i class="fas fa-quote-left"></i><b class="font-italic"> Respuestas a tu comentario: </b></h3>
        </span>
        <hr>
        <span class="text-success">
          <h4><i class="far fa-comments"></i> <small>{{itemComment.text}}</small></h4>
          <small><i class="fas fa-user-circle"></i> {{itemComment.user}}  <i class="far fa-clock"></i> {{itemComment.when}}</small>
        </span>
        <div *ngFor="let itemReply of replys" class="text-secondary font-weight-light">
          <div *ngIf="itemComment.discussionId == itemReply.replyto" class="col-8 text-right">
            <span class="text-secondary">
              <h5><i><i class="far fa-comment"></i> {{itemReply.text}}</i></h5>
              <small><i class="fas fa-user-circle"></i> {{itemReply.user}}  <i class="far fa-clock"></i> {{itemReply.when}}</small>
            </span>
          </div>
        </div>
        <p>
          <input type="text" placeholder="Agrega una respuesta a este comentario" #replyComment class="form-control">
        </p>
        <p>
          <button class="btn btn-secondary" type="button" (click)="setReply(replyComment.value, itemComment.discussionId, itemComment.root, itemComment.userId)"><i class="far fa-comment"></i> Responder</button>
        </p>
      </div>
    </div>
  </div-->
  <div *ngFor="let item of taskBlock">
    <span class="text-success" style="margin-bottom:15px;"><i class="fas fa-thumbtack"></i> {{item.label}}</span>
    <div [innerHTML]="item.text">

    </div>
    <div *ngFor="let itemGrade of taskGrade">
      <div *ngIf="item.label == itemGrade.label" class="alert alert-secondary" role="alert">
        <b>Tu respuesta: </b><span class="text-success">{{itemGrade.content}}</span>
        <hr>
        <b>Calificación obtenida: </b><i class="text-info">{{itemGrade.grade}}</i>
      </div>
    </div>

  </div>
</div>
